*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, input, button, textarea {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

ul li {
    list-style: none;
}

a, a:visited, a:hover {
    text-decoration: none;
}

body {
    font-family: 'Maven Pro', sans-serif;
    color: #F6F6F6;
    background-color: #222831;
}

.App-wrapper {
    max-width: 1220px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #393E46;
    /*background-color: #575e6b;*/
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main {
    flex-grow: 1;
}